{%extends 'base.html'%}


{%block body%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Lista de Pedido</h1>
    <table>
        <thread>
            <tr>
                <th>Fecha</th>
                <th>Total</th>
                <th>Nombre del Cliente</th>
                
            </tr>
            </thread>
        <tbody>
            {%for pedido in pedidos%}
            <tr>
                <td>{{pedido.fecha}}</td>
                <td>{{pedido.total}}</td>
                <td>{{Pedido.cliente.nombre}} {{Pedido.cliente.apellido}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    
</body>
</html>


{%endblock%}